auto/
*.csv
*.png
*.html
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.pdf
/misc.sql
/exploration.R
/dbload_procedure.*
!/dbload_procedure.org
db_quicklook.*
!db_quicklook.org
db_exploration.*
!db_exploration.org
guide/DB
guide/Images
/reports/issues_pCO2.tex
